* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.container-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.heading {
  color: #0f172a;
  font-size: 45px;
  font-family: "Roboto";
  font-weight: 700;
}

.box-bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .box-bg-container {
    flex-direction: row;
    align-items: flex-end;
  }
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 13px;
}

@media screen and (min-width: 768px) {
  .box-container {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 992px) {
  .box-container {
    margin-left: 40px;
    margin-bottom: 40px;
  }
}

.small-box {
  background-color: #fbbf24;
  height: 75px;
  width: 75px;
}

@media screen and (min-width: 768px) {
  .small-box {
    height: 100px;
    width: 100px;
  }
}

@media screen and (min-width: 992px) {
  .small-box {
    height: 120px;
    width: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .small-box {
    height: 140px;
    width: 140px;
  }
}

.medium-box {
  background-color: #38bdf8;
  height: 155px;
  width: 155px;
}

@media screen and (min-width: 768px) {
  .medium-box {
    height: 205px;
    width: 205px;
  }
}

@media screen and (min-width: 1200px) {
  .medium-box {
    height: 255px;
    width: 255px;
  }
}

.Large-box {
  background-color: #ec4899;
  height: 275px;
  width: 275px;
}

@media screen and (min-width: 768px) {
  .Large-box {
    height: 355px;
    width: 355px;
  }
}

@media screen and (min-width: 992px) {
  .Large-box {
    height: 405px;
    width: 405px;
  }
}
@media screen and (min-width: 1200px) {
  .Large-box {
    height: 450px;
    width: 450px;
  }
}

.paragraphElement {
  font-family: "Bree Serif";
  color: #ffffff;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .paragraphElement {
    font-size: 24px;
  }
}
